<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683965845814-r5qrfl1p15pr4j94vo4bna4557k9qbfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683965845814-r5qrfl1p15pr4j94vo4bna4557k9qbfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683965845814-q0e145gu63hti16clgjnqb4oikkldmde.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAe4Rh5RKfjYCM26emkakF9TsBpCpeR0rY</string>
	<key>GCM_SENDER_ID</key>
	<string>683965845814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riadmahi.Hob</string>
	<key>PROJECT_ID</key>
	<string>hob-dating-f3df1</string>
	<key>STORAGE_BUCKET</key>
	<string>hob-dating-f3df1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683965845814:ios:96b8e672aa3f5c5ee2e397</string>
</dict>
</plist>